[Unit]
Description=Report received email as spam to SpamCop

[Service]
ExecStart=/path/to/binary/spammer-reporter-service.py
Type=notify
NotifyAccess=main
WatchdogSec=5s
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
PrivateTmp=yes

[Install]
WantedBy=multi-user.target